<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizideal.whoami.mapper.CaseVotingRecordMapper" >
  <resultMap id="BaseResultMap" type="com.bizideal.whoami.vote.entity.CaseVotingRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="case_id" property="caseId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="ip_address" property="ipAddress" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="BIGINT" />
    <result column="meeting_id" property="meetingId" jdbcType="INTEGER" />
    <result column="real_name" jdbcType="VARCHAR" property="userName"/>
  </resultMap>

<!--   <insert id="insertCaseVotingRecord" parameterType="com.bizideal.whoami.vote.entity.CaseVotingRecord" useGeneratedKeys="true" keyProperty="id">
  	insert into vote_info 
	  	<trim prefix="(" suffix=")" suffixOverrides=",">
	  		<if test="caseId!=null">case_id,</if>
	  		<if test="userId!=null">user_id,</if>
	  		<if test="ipAddress!=null">ip_address,</if>
	  		<if test="time!=null">time,</if>
	  		<if test="meetingId!=null">meeting_id,</if>
	  	</trim>
	  	values 
	  	<trim prefix="(" suffix=")" suffixOverrides=",">
	  		<if test="caseId!=null">#{caseId},</if>
	  		<if test="userId!=null">#{userId},</if>
	  		<if test="ipAddress!=null">#{ipAddress},</if>
	  		<if test="time!=null">#{time},</if>
	  		<if test="meetingId!=null">#{meetingId},</if>
	  	</trim>
  </insert>  -->
  
  <insert id="insertCaseVotingRecord" parameterType="com.bizideal.whoami.vote.entity.CaseVotingRecord" useGeneratedKeys="true" keyProperty="id">
  	{call case_vote(
  		#{caseId,mode=IN},#{time,mode=IN}, #{meetingId,mode=IN},#{ipAddress,mode=IN},#{userId,mode=IN}
  	)}
  </insert> 
  
  
  <delete id="deleteByMeetings">
  	delete from case_voting_record
  	<where>
  		meeting_id in 
		<foreach collection="list" item="vote" index="index" open="(" close=")" separator=",">
			#{vote.meetingId}
		</foreach>
  	</where>
  </delete>
  
  <select id="selectCaseVotingRecord" resultMap="BaseResultMap">
  	select r.*,uw.real_name from
  	case_voting_record r
  	left outer join user_weixin_info uw on uw.user_id=r.user_id
  	<where>
  		r.case_id=#{caseId}
  	</where>
  </select>
</mapper>