<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizideal.whoami.mapper.SenceCaseCountMapper">
  <resultMap id="BaseResultMap" type="com.bizideal.whoami.sencevote.entity.SenceCaseCount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sence_case_id" jdbcType="INTEGER" property="senceCaseId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  
  
</mapper>