<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
		xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo 
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="rolemodule-provider" owner="programmer" organization="dubbox"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>
    
    <!-- 监控中心配置，protocol="registry"，表示从注册中心发现监控中心地址 -->
    <dubbo:monitor protocol="registry"/>
<!-- serialization="kryo" -->
    <dubbo:protocol name="dubbo"  serialization="kryo"  port="${dubbo.rpc.rolemodule.port}"
    host="${dubbo.protocol.host}" server="netty"  />

   
    <!-- 和本地bean一样实现服务 -->
	<!-- 声明需要暴露的服务接口 -->
	<!-- 账户管理 -->
	<!-- dubbo:service cluster="failfast/failover" 配置集群容错  retries="2" 写操作failfast 不重试 读操作failover 重试2次 -->
		
	<dubbo:service interface="com.bizideal.whoami.rolemodule.facade.RoleModuleReadFacade" ref="roleModuleReadFacade" protocol="dubbo"   timeout="8000"/>
	
	<dubbo:service interface="com.bizideal.whoami.rolemodule.facade.RoleModuleWriteFacade" ref="roleModuleWriteFacade" protocol="dubbo" retries="0" timeout="8000"/>
	
	
	
	<!-- use tomcat server -->
    <dubbo:protocol name="rest" host="${dubbo.protocol.host}" port="${dubbo.restful.rolemodule.port}" threads="500" contextpath="whoami" server="tomcat" accepts="500"
                    extension="com.bizideal.whoami.filter.DubboxRestCORSFilter,com.alibaba.dubbo.rpc.protocol.rest.support.LoggingFilter"/>
     
      <dubbo:service interface="com.bizideal.whoami.rolemodule.facade.RoleModuleReadRestFacade" ref="roleModuleReadRestFacade" protocol="rest" 
     validation="true"/>
     
         <dubbo:service interface="com.bizideal.whoami.rolemodule.facade.RoleModuleWriteRestFacade" ref="roleModuleWriteRestFacade" protocol="rest" 
     validation="true" retries="0"/>

</beans>