<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizideal.whoami.rolemodule.mapper.QrcodeScanMapper">

	<select id="selectByRedirect" parameterType="string"
		resultType="com.bizideal.whoami.rolemodule.entity.QrcodeScan">
		select * from qrcode_scan where redirect=#{redirect}
	</select>
	

</mapper>