<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizideal.whoami.core.meeting.mapper.MeetingInfoMapper">

  <resultMap id="BaseResultMap" type="com.bizideal.whoami.facade.meeting.entity.MeetingInfo">
    <id column="mee_id" jdbcType="INTEGER" property="meeId" />
    <result column="hall_id" jdbcType="INTEGER" property="hallId" />
    <result column="mee_name" jdbcType="VARCHAR" property="meeName" />
    <result column="mee_parent_id" jdbcType="INTEGER" property="meeParentId" />
    <result column="mee_intro" jdbcType="VARCHAR" property="meeIntro" />
    <result column="mee_address" jdbcType="VARCHAR" property="meeAddress" />
    <result column="mee_cover" jdbcType="VARCHAR" property="meeCover" />
    <result column="mee_willnum" jdbcType="INTEGER" property="meeWillnum" />
    <result column="mee_scale" jdbcType="INTEGER" property="meeScale" />
    <result column="mee_start_time" jdbcType="BIGINT" property="meeStartTime" />
    <result column="mee_end_time" jdbcType="BIGINT" property="meeEndTime" />
    <result column="mee_contact_name" jdbcType="VARCHAR" property="meeContactName" />
    <result column="mee_contact_number" jdbcType="VARCHAR" property="meeContactNumber" />
    <result column="mee_contact_email" jdbcType="VARCHAR" property="meeContactEmail" />
    <result column="mee_type" jdbcType="VARCHAR" property="meeType" />
    <result column="mee_theme" jdbcType="VARCHAR" property="meeTheme" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="is_unit" jdbcType="CHAR" property="isUnit" />
    <result column="is_personal" jdbcType="CHAR" property="isPersonal" />
    <result column="is_pend" jdbcType="CHAR" property="isPend" />
    <result column="signup_start_time" jdbcType="BIGINT" property="signupStartTime" />
    <result column="signup_end_time" jdbcType="BIGINT" property="signupEndTime" />
  </resultMap>
  
  <resultMap id="SignUpDtoResultMap" type="com.bizideal.whoami.facade.meeting.dto.MeetingInfoSignUpDto">
    <id column="mee_id" jdbcType="INTEGER" property="meeId" />
    <result column="hall_id" jdbcType="INTEGER" property="hallId" />
    <result column="mee_name" jdbcType="VARCHAR" property="meeName" />
    <result column="mee_parent_id" jdbcType="INTEGER" property="meeParentId" />
    <result column="mee_intro" jdbcType="VARCHAR" property="meeIntro" />
    <result column="mee_address" jdbcType="VARCHAR" property="meeAddress" />
    <result column="mee_cover" jdbcType="VARCHAR" property="meeCover" />
    <result column="mee_willnum" jdbcType="INTEGER" property="meeWillnum" />
    <result column="mee_scale" jdbcType="INTEGER" property="meeScale" />
    <result column="mee_start_time" jdbcType="BIGINT" property="meeStartTime" />
    <result column="mee_end_time" jdbcType="BIGINT" property="meeEndTime" />
    <result column="mee_contact_name" jdbcType="VARCHAR" property="meeContactName" />
    <result column="mee_contact_number" jdbcType="VARCHAR" property="meeContactNumber" />
    <result column="mee_contact_email" jdbcType="VARCHAR" property="meeContactEmail" />
    <result column="mee_type" jdbcType="VARCHAR" property="meeType" />
    <result column="mee_theme" jdbcType="VARCHAR" property="meeTheme" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    
  </resultMap>
  
  <insert id="insertMeetingInfo" parameterType="com.bizideal.whoami.facade.meeting.entity.MeetingInfo" 
		useGeneratedKeys="true" keyProperty="meeId">
		INSERT INTO meeting_info ( mee_id,hall_id,mee_name,mee_parent_id,mee_intro,mee_address,
		mee_cover,mee_willnum,mee_scale,mee_start_time,mee_end_time,mee_contact_name,
		mee_contact_number,mee_contact_email,mee_type,mee_theme,create_time,del_flag)
		VALUES ( #{meeId},#{hallId},#{meeName},#{meeParentId},#{meeIntro},#{meeAddress},
		#{meeCover},#{meeWillnum},#{meeScale},#{meeStartTime},#{meeEndTime},#{meeContactName},
		#{meeContactNumber},#{meeContactEmail},#{meeType},#{meeTheme},#{createTime},#{delFlag})
	</insert>
	<update id="updateMeetingInfo" parameterType="com.bizideal.whoami.facade.meeting.entity.MeetingInfo">
	    update meeting_info
	    set hall_id = #{hallId,jdbcType=INTEGER},
	      mee_name = #{meeName,jdbcType=VARCHAR},
	      mee_parent_id = #{meeParentId,jdbcType=INTEGER},
	      mee_intro = #{meeIntro,jdbcType=VARCHAR},
	      mee_address = #{meeAddress,jdbcType=VARCHAR},
	      mee_cover = #{meeCover,jdbcType=VARCHAR},
	      mee_willnum = #{meeWillnum,jdbcType=INTEGER},
	      mee_scale = #{meeScale,jdbcType=INTEGER},
	      mee_start_time = #{meeStartTime,jdbcType=BIGINT},
	      mee_end_time = #{meeEndTime,jdbcType=BIGINT},
	      mee_contact_name = #{meeContactName,jdbcType=VARCHAR},
	      mee_contact_number = #{meeContactNumber,jdbcType=VARCHAR},
	      mee_contact_email = #{meeContactEmail,jdbcType=VARCHAR},
	      mee_type = #{meeType,jdbcType=VARCHAR},
	      mee_theme = #{meeTheme,jdbcType=VARCHAR},
	      create_time = #{createTime,jdbcType=BIGINT},
	      del_flag = #{delFlag,jdbcType=CHAR}
	    where mee_id = #{meeId,jdbcType=INTEGER}
	</update>
	
	<update id="deleteMeetingInfoByHall" >
		update meeting_info 
	    set del_flag =  1 
	    where hall_id = #{hallId} 
	</update>
	
	<update id="deleteSubMeetingInfo" parameterType="com.bizideal.whoami.facade.meeting.entity.MeetingInfo">
		update meeting_info
	    set del_flag = #{delFlag,jdbcType=CHAR} 
	    where 1=1 
	    <if test="meeId != null " >
			AND mee_id=#{meeId}
		</if>
		<if test="meeParentId != null  " >
			AND mee_parent_id=#{meeParentId}
		</if>
	</update>
	
	<update id="deleteSubMeetingInfoByIds" >
		update meeting_info 
	    set del_flag =  1 
	    where mee_id in 
	    <foreach collection="ids" item="meeId" index="index"
            open="(" close=")" separator=",">
            #{meeId}
        </foreach>
	</update>
	
	<update id="deleteMeetingInfoByIds" >
		update meeting_info 
	    set del_flag =  1 
	    where mee_id in 
	    <foreach collection="ids" item="meeId" index="index"
            open="(" close=")" separator=",">
            #{meeId}
        </foreach>
        ||  mee_parent_id in 
	    <foreach collection="ids" item="meeId" index="index"
            open="(" close=")" separator=",">
            #{meeId}
        </foreach>
	</update>
	
	<select id="selectPopMeetingInfoDto" parameterType="com.bizideal.whoami.facade.meeting.dto.MeetingInfoDto" 
		resultType="com.bizideal.whoami.facade.meeting.dto.MeetingInfoDto">
		SELECT m.mee_id,m.create_user,m.hall_id,m.mee_name,m.mee_parent_id,m.mee_intro,m.mee_address,m.mee_cover,m.mee_willnum,
			m.mee_scale,m.mee_start_time,m.mee_end_time,m.mee_contact_name,m.mee_contact_number,m.mee_contact_email,
			m.mee_type,m.mee_theme,m.create_time,m.del_flag,ml.mee_id IS NOT NULL AS flag 
		FROM meeting_info m 
			LEFT JOIN meeting_link_user ml ON m.mee_id=ml.mee_id AND ml.user_id=#{userId}
		WHERE m.del_flag=0 AND m.mee_parent_id=0 ORDER BY m.create_time 
	</select>
	<select id="selectMeetingInfoByName" parameterType="com.bizideal.whoami.facade.meeting.entity.MeetingInfo" 
		resultMap="BaseResultMap">
		select mee_id, m.create_user,hall_id, mee_name, mee_parent_id, mee_intro, mee_address, mee_cover, mee_willnum, 
		    mee_scale, mee_start_time, mee_end_time, mee_contact_name, mee_contact_number, mee_contact_email, 
		    mee_type, mee_theme, create_time, del_flag 
		from meeting_info 
		where mee_name =#{meeName} AND del_flag &lt;&gt; 1 
	</select>
	
	<select id="selectByConditions" parameterType="com.bizideal.whoami.facade.meeting.entity.MeetingInfo" 
		resultMap="BaseResultMap">
		select mee_id,create_user, hall_id, mee_name, mee_parent_id, mee_intro, mee_address, mee_cover, mee_willnum, 
		    mee_scale, mee_start_time, mee_end_time, mee_contact_name, mee_contact_number, mee_contact_email, 
		    mee_type, mee_theme, create_time, del_flag 
		from meeting_info 
		where 1=1 
		<if test="meeId != null  " >
			AND mee_id=#{meeId}
		</if>
		<if test="hallId != null  " >
			AND hall_id=#{hallId}
		</if>
		<if test="meeName != null  &amp;&amp; meeName.length()>0" >
			AND mee_name like CONCAT(CONCAT('%', #{meeName}),'%') 
		</if>
		<if test="meeParentId != null  " >
			AND mee_parent_id=#{meeParentId}
		</if>
		<if test="meeIntro != null  &amp;&amp; meeIntro.length()>0" >
			AND mee_intro like CONCAT(CONCAT('%', #{meeIntro}),'%') 
		</if>
		<if test="meeAddress != null  &amp;&amp; meeAddress.length()>0" >
			AND mee_address like CONCAT(CONCAT('%', #{meeAddress}),'%') 
		</if>
		<if test="meeCover != null  &amp;&amp; meeCover.length()>0" >
			AND mee_cover like CONCAT(CONCAT('%', #{meeCover}),'%') 
		</if>
		<if test="meeWillnum != null " >
			AND mee_willnum=#{meeWillnum}
		</if>
		<if test="meeScale != null  " >
			AND mee_scale=#{meeScale}
		</if>
		<if test="meeStartTime != null " >
			AND mee_start_time=#{meeStartTime}
		</if>
		<if test="meeEndTime != null " >
			AND mee_end_time=#{meeEndTime}
		</if>
		<if test="meeContactName != null  &amp;&amp; meeContactName.length()>0" >
			AND mee_contact_name like CONCAT(CONCAT('%', #{meeContactName}),'%') 
		</if>
		<if test="meeContactNumber != null  &amp;&amp; meeContactNumber.length()>0" >
			AND mee_contact_number like CONCAT(CONCAT('%', #{meeContactNumber}),'%') 
		</if>
		<if test="meeContactEmail != null  &amp;&amp; meeContactEmail.length()>0" >
			AND mee_contact_email like CONCAT(CONCAT('%', #{meeContactEmail}),'%') 
		</if>
		<if test="meeType != null  &amp;&amp; meeType.length()>0" >
			AND mee_type like CONCAT(CONCAT('%', #{meeType}),'%') 
		</if>
		<if test="meeTheme != null  &amp;&amp; meeTheme.length()>0" >
			AND mee_theme like CONCAT(CONCAT('%', #{meeTheme}),'%') 
		</if>
		<if test="createTime != null " >
			AND create_time=#{createTime}
		</if>
		<if test="delFlag != null " >
			AND del_flag like CONCAT(CONCAT('%', #{delFlag}),'%') 
		</if>
	</select>
	
	<select id="selectJoinMeetingInfoByUserIdOver" resultMap="SignUpDtoResultMap">
		SELECT m.*
			 FROM meeting_info  m 
			WHERE m.mee_id IN 
			<foreach collection="list" item="meeId" index="index"
	            open="(" close=")" separator=",">
	            #{meeId}
	      	</foreach>
	      	and m.mee_parent_id=0
	</select>
	
	<select id="selectJoinMeetingInfoByUserIdFuture" resultMap="BaseResultMap">
		SELECT mee_id,create_user, hall_id, mee_name, mee_parent_id, mee_intro, mee_address, mee_cover, mee_willnum, 
		    mee_scale, mee_start_time, mee_end_time, mee_contact_name, mee_contact_number, mee_contact_email, 
		    mee_type, mee_theme, create_time, del_flag FROM meeting_info  
			WHERE mee_id IN (
				SELECT DISTINCT us.meeting_id FROM user_signup_info us WHERE us.user_id=#{userId} )
				AND mee_end_time<![CDATA[ < ]]>#{nowTime}
	</select>
	
	<select id="selectFocusMeetingInfoByUserIdFuture" resultMap="BaseResultMap">
		SELECT mee_id,create_user, hall_id, mee_name, mee_parent_id, mee_intro, mee_address, mee_cover, mee_willnum, 
		    mee_scale, mee_start_time, mee_end_time, mee_contact_name, mee_contact_number, mee_contact_email, 
		    mee_type, mee_theme, create_time, del_flag FROM meeting_info  
			WHERE mee_id IN (
				SELECT DISTINCT us.mee_id FROM meeting_link_user us WHERE us.user_id=#{userId})
				AND mee_end_time>=#{nowTime}
	</select>
	
	<select id="selectFocusMeetingInfoByUserIdOver" resultMap="BaseResultMap">
		SELECT mee_id,create_user, hall_id, mee_name, mee_parent_id, mee_intro, mee_address, mee_cover, mee_willnum, 
		    mee_scale, mee_start_time, mee_end_time, mee_contact_name, mee_contact_number, mee_contact_email, 
		    mee_type, mee_theme, create_time, del_flag FROM meeting_info  
			WHERE mee_id IN (
				SELECT DISTINCT us.mee_id FROM meeting_link_user us WHERE us.user_id=#{userId})
				AND mee_end_time<![CDATA[ < ]]>#{overTime}
	</select>
	
	<select id="selectSubMeetingByParentIdList" parameterType="java.util.Map" resultType="com.bizideal.whoami.facade.meeting.entity.MeetingInfo" >
		SELECT mm.mee_id,mm.create_user,mm.hall_id,mm.mee_name,mm.mee_parent_id,mm.mee_intro,mm.mee_address,mm.mee_cover,mm.mee_willnum,
			mm.mee_scale,mm.mee_start_time,mm.mee_end_time,mm.mee_contact_name,mm.mee_contact_number,mm.mee_contact_email,
			mm.mee_type,mm.mee_theme,mm.create_time,mm.del_flag FROM meeting_info mm 
		    WHERE mm.mee_id IN 
			<foreach collection="list" item="meeId" index="index"
	            open="(" close=")" separator=",">
	            #{meeId}
	      	</foreach>
	</select>
</mapper>