<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" 
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">
	
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="im-provider" owner="programmer" organization="dubbox"/>

    <!-- 使用zookeeper注册中心暴露服务地址 register="false" -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>
    
    <!-- 监控中心配置，protocol="registry"，表示从注册中心发现监控中心地址 -->
    <dubbo:monitor protocol="registry"/>

    <dubbo:protocol name="dubbo" serialization="kryo" host="${dubbo.protocol.host}" port="${dubbo.rpc.im.port}"/>
  
	<dubbo:service interface="com.bizideal.whoami.im.facade.ChatGroupsFacade" ref="chatGroupsFacade" protocol="dubbo" timeout="5000"/>
	<dubbo:service interface="com.bizideal.whoami.im.facade.ChatMessageFacade" ref="chatMessageFacade" protocol="dubbo" timeout="5000"/>
	<dubbo:service interface="com.bizideal.whoami.im.facade.FilesFacade" ref="filesFacade" protocol="dubbo" timeout="5000"/>
	<dubbo:service interface="com.bizideal.whoami.im.facade.IMUsersFacade" ref="imUsersFacade" protocol="dubbo" timeout="5000"/>
	<dubbo:service interface="com.bizideal.whoami.im.facade.MessagesFacade" ref="messagesFacade" protocol="dubbo" timeout="5000"/>
	
<!-- 	<dubbo:protocol name="rest" host="${dubbo.protocol.host}" port="${dubbo.restful.im.port}" threads="500" contextpath="qx-im" server="tomcat"
    	extension="com.bizideal.whoami.filter.DubboxRestCORSFilter,com.alibaba.dubbo.rpc.protocol.rest.support.LoggingFilter"/>
   
	<dubbo:service interface="com.bizideal.whoami.im.facade.rest.ChatGroupsRestFacade" ref="chatGroupsRestFacade" 
		 protocol="rest" validation="true"  timeout="5000"/>
		 
	<dubbo:service interface="com.bizideal.whoami.im.facade.rest.ChatMessageRestFacade" ref="chatMessageRestFacade" 
		 protocol="rest" validation="true"  timeout="5000"/>
		 
	<dubbo:service interface="com.bizideal.whoami.im.facade.rest.FilesRestFacade" ref="filesRestFacade" 
		 protocol="rest" validation="true"  timeout="5000"/>
		 
	<dubbo:service interface="com.bizideal.whoami.im.facade.rest.IMUsersRestFacade" ref="imUsersRestFacade" 
		 protocol="rest" validation="true"  timeout="5000"/>
		 
	<dubbo:service interface="com.bizideal.whoami.im.facade.rest.MessagesRestFacade" ref="messagesRestFacade" 
		 protocol="rest" validation="true"  timeout="5000"/>
 -->
</beans>  